modules = ["nodejs-20", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 23636
externalPort = 3000

[userenv]

[userenv.shared]
BACKEND_URL = "https://back-mp9k.onrender.com"
CORS_ORIGIN = "*"
FRONTEND_URL = "https://www.rolebolt.tech"
SMTP_FROM_EMAIL = "verify@rolebolt.tech"
SMTP_FROM_NAME = "Rolebolt"
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyB5LGlNCunmGIK_RQ0ZbsjjF9oiIXZnStY"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:940237543319:web:249279220e09fbc6b616d2"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "rolebolt-41e4d.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "940237543319"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "rolebolt-41e4d"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "rolebolt-41e4d.appspot.com"
AUTH_FROM_EMAIL = "verify@rolebolt.tech"
FROM_NAME = "Rolebolt"
NOTIFICATION_FROM_EMAIL = "notifications@rolebolt.tech"
